<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Peludines
    </title>
</head>

<body>

    <main role="main">
        <%= require('html-loader!./assets/templates/intro.html') %>
        <%= require('html-loader!./assets/templates/body.html') %>
        <%= require('html-loader!./assets/templates/footer.html') %>
    </main>

</body>

</html>