

body{
    background-color:#fff !important;
    color:#928d8d !important;	
    font-size: .8vh;
}

#peludines_list{
   padding: 0;
   float: left;
   background-color: #f5f5f5;
   width: 33%;
   border:1px solid #fff;
}

#peludines_list li{
    list-style: none;
}

