<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                PELUDINES
            </a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Adoptar</a>
                </li>
                <li>
                    <a href="#">Perdidos</a>
                </li>
                <li>
                    <a href="#">Urgencias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>