<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Inyección de plasticos</h2>
            <p>Para la inyeccion de plasticos brindamos una capacidad de producción de entre 30 y 1000 gramos de con
                la posibilidad de 30 hasta 300 toneladas de fuerza de cierre. </p>
            <p>
                
            </p>
        </div>
        <div class="col-md-4">
            <h2>Filtros para pozos septicos</h2>
            <p>Este producto permite en diferentes situaciones darle un manejo de gran calidad a pozos septicos donde
                generalmente las tecnologias usadas son dificiles de conseguir y su calidad no es la mas aconsejada.</p>
            <p>
                
            </p>
        </div>
        <div class="col-md-4">
            <h2>Productos en Icopor</h2>
            <p>Los productos en Icopor que desarrollamos son especiales para diferentes usos como : icopor bolas huevos
                yoyos corazones cascos para motocicleta cascos para ciclistas</p>
            <p>
                
            </p>
        </div>
    </div>
</div>
<!-- /container -->